Espotify Web/web/WEB-INF/wsdl/192.168.1.24_5000/ControladorSoap.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is JAX-WS RI 2.3.5 git-revision#7ddc91f. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is JAX-WS RI 2.3.5 git-revision#7ddc91f. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://WebServices/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://WebServices/" name="ControladorSoapService">
<types>
<xsd:schema>
<xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="http://192.168.1.24:5000/ControladorSoap?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://WebServices/" schemaLocation="http://192.168.1.24:5000/ControladorSoap?xsd=2"/>
</xsd:schema>
</types>
<message name="CrearListaRepSugerencia"/>
<message name="CrearListaRepSugerenciaResponse"/>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="login">
<part name="usuario" type="xsd:string"/>
<part name="password" type="xsd:string"/>
</message>
<message name="loginResponse">
<part name="return" type="tns:dtUsuario"/>
</message>
<message name="listarSubdeCliente">
<part name="arg0" type="xsd:string"/>
</message>
<message name="listarSubdeClienteResponse">
<part name="return" type="tns:listaDTSub"/>
</message>
<message name="ClienteModificaEstadoSuscripcion">
<part name="arg0" type="xsd:long"/>
<part name="arg1" type="xsd:string"/>
</message>
<message name="ClienteModificaEstadoSuscripcionResponse"/>
<message name="GuardarAlbumFavorito">
<part name="arg0" type="xsd:string"/>
<part name="arg1" type="xsd:string"/>
<part name="arg2" type="xsd:string"/>
</message>
<message name="GuardarAlbumFavoritoResponse"/>
<message name="ConvierteNick_A_Correo">
<part name="arg0" type="xsd:string"/>
</message>
<message name="ConvierteNick_A_CorreoResponse">
<part name="return" type="xsd:string"/>
</message>
<message name="GuardarListaFavorito">
<part name="arg0" type="xsd:string"/>
<part name="arg1" type="xsd:string"/>
<part name="arg2" type="xsd:string"/>
</message>
<message name="GuardarListaFavoritoResponse"/>
<message name="GuardarLista_Por_Defecto_Favorito">
<part name="arg0" type="xsd:string"/>
<part name="arg1" type="xsd:string"/>
</message>
<message name="GuardarLista_Por_Defecto_FavoritoResponse"/>
<message name="guardarImagenesLista">
<part name="arg0" type="xsd:base64Binary"/>
<part name="arg1" type="xsd:string"/>
</message>
<message name="guardarImagenesListaResponse">
<part name="return" type="xsd:string"/>
</message>
<message name="IOException">
<part name="fault" element="tns:IOException"/>
</message>
<message name="CrearListaRepParticular">
<part name="arg0" type="xsd:string"/>
<part name="arg1" type="xsd:string"/>
<part name="arg2" type="xsd:string"/>
<part name="arg3" type="xsd:boolean"/>
</message>
<message name="CrearListaRepParticularResponse"/>
<message name="GuardarTemaFavorito">
<part name="arg0" type="xsd:string"/>
<part name="arg1" type="xsd:string"/>
<part name="arg2" type="xsd:string"/>
<part name="arg3" type="xsd:string"/>
</message>
<message name="GuardarTemaFavoritoResponse"/>
<message name="guardarImagenesAlbum">
<part name="arg0" type="xsd:base64Binary"/>
<part name="arg1" type="xsd:string"/>
<part name="arg2" type="xsd:string"/>
</message>
<message name="guardarImagenesAlbumResponse">
<part name="return" type="xsd:string"/>
</message>
<message name="guardarTemaEnCarpeta">
<part name="arg0" type="xsd:base64Binary"/>
<part name="arg1" type="xsd:string"/>
</message>
<message name="guardarTemaEnCarpetaResponse">
<part name="return" type="xsd:string"/>
</message>
<message name="CrearAlbum">
<part name="arg0" type="xsd:string"/>
<part name="arg1" type="tns:dtAlbum"/>
<part name="arg2" type="tns:arrayList"/>
</message>
<message name="CrearAlbumResponse"/>
<message name="nicknamesDeTodosLosArtistas"/>
<message name="nicknamesDeTodosLosArtistasResponse">
<part name="return" type="tns:listaString"/>
</message>
<message name="listaClientesDT"/>
<message name="listaClientesDTResponse">
<part name="return" type="tns:listaDTCliente"/>
</message>
<message name="crearSubscripcion">
<part name="arg0" type="xsd:string"/>
<part name="arg1" type="xsd:string"/>
</message>
<message name="crearSubscripcionResponse"/>
<message name="existeMail">
<part name="arg0" type="xsd:string"/>
</message>
<message name="existeMailResponse">
<part name="return" type="xsd:boolean"/>
</message>
<message name="existeNickname">
<part name="arg0" type="xsd:string"/>
</message>
<message name="existeNicknameResponse">
<part name="return" type="xsd:boolean"/>
</message>
<message name="obtenerImagenComoBytes">
<part name="arg0" type="xsd:string"/>
</message>
<message name="obtenerImagenComoBytesResponse">
<part name="return" type="xsd:base64Binary"/>
</message>
<message name="obtenerTemaComoBytes">
<part name="arg0" type="xsd:string"/>
</message>
<message name="obtenerTemaComoBytesResponse">
<part name="return" type="xsd:base64Binary"/>
</message>
<message name="findDTAlbumTodos"/>
<message name="findDTAlbumTodosResponse">
<part name="return" type="tns:listaDTAlbum"/>
</message>
<message name="findAlbumesPorArtista">
<part name="arg0" type="xsd:string"/>
</message>
<message name="findAlbumesPorArtistaResponse">
<part name="return" type="tns:listaDTAlbum"/>
</message>
<message name="findDTAlbum">
<part name="arg0" type="xsd:string"/>
</message>
<message name="findDTAlbumResponse">
<part name="return" type="tns:listaDTAlbum"/>
</message>
<message name="Buscador">
<part name="arg0" type="xsd:string"/>
<part name="arg1" type="xsd:string"/>
</message>
<message name="BuscadorResponse">
<part name="return" type="tns:listaDTContenido"/>
</message>
<message name="nicksClientes"/>
<message name="nicksClientesResponse">
<part name="return" type="tns:listaString"/>
</message>
<message name="obtenerDTListaPorClientepublica">
<part name="arg0" type="xsd:string"/>
</message>
<message name="obtenerDTListaPorClientepublicaResponse">
<part name="return" type="tns:listaDTListaRep"/>
</message>
<message name="encontrarClientePorNickname">
<part name="arg0" type="xsd:string"/>
</message>
<message name="encontrarClientePorNicknameResponse">
<part name="return" type="tns:dtCliente"/>
</message>
<message name="encontrarDTArtistaPorNickname">
<part name="arg0" type="xsd:string"/>
</message>
<message name="encontrarDTArtistaPorNicknameResponse">
<part name="return" type="tns:dtArtista"/>
</message>
<message name="nicksClientesSiguenArtista">
<part name="arg0" type="xsd:string"/>
</message>
<message name="nicksClientesSiguenArtistaResponse">
<part name="return" type="tns:listaString"/>
</message>
<message name="listaAlbumesArtistaNick">
<part name="arg0" type="xsd:string"/>
</message>
<message name="listaAlbumesArtistaNickResponse">
<part name="return" type="tns:listaString"/>
</message>
<message name="seguidoresDelCliente">
<part name="arg0" type="xsd:string"/>
</message>
<message name="seguidoresDelClienteResponse">
<part name="return" type="tns:listaString"/>
</message>
<message name="clientesSeguidosDelCliente">
<part name="arg0" type="xsd:string"/>
</message>
<message name="clientesSeguidosDelClienteResponse">
<part name="return" type="tns:listaString"/>
</message>
<message name="artistasSeguidosDelCliente">
<part name="arg0" type="xsd:string"/>
</message>
<message name="artistasSeguidosDelClienteResponse">
<part name="return" type="tns:listaString"/>
</message>
<message name="nombresListaRepDeCliente">
<part name="arg0" type="xsd:string"/>
</message>
<message name="nombresListaRepDeClienteResponse">
<part name="return" type="tns:listaString"/>
</message>
<message name="listaFavoritosDeCliente">
<part name="arg0" type="xsd:string"/>
</message>
<message name="listaFavoritosDeClienteResponse">
<part name="return" type="tns:listaString"/>
</message>
<message name="listasPublicasDeCliente">
<part name="arg0" type="xsd:string"/>
</message>
<message name="listasPublicasDeClienteResponse">
<part name="return" type="tns:listaString"/>
</message>
<message name="nombreAlbumyNombreArtistaFavoritosCliente">
<part name="arg0" type="xsd:string"/>
</message>
<message name="nombreAlbumyNombreArtistaFavoritosClienteResponse">
<part name="return" type="tns:listaString"/>
</message>
<message name="MostrarNombreGeneros"/>
<message name="MostrarNombreGenerosResponse">
<part name="return" type="tns:listaString"/>
</message>
<message name="ListasParticulares"/>
<message name="ListasParticularesResponse">
<part name="return" type="tns:listaDTListaRep"/>
</message>
<message name="ListasPorDefecto"/>
<message name="ListasPorDefectoResponse">
<part name="return" type="tns:listaDTListaRep"/>
</message>
<message name="obtenerDTListaPorCliente">
<part name="arg0" type="xsd:string"/>
</message>
<message name="obtenerDTListaPorClienteResponse">
<part name="return" type="tns:listaDTListaRep"/>
</message>
<message name="obtenerDTListaPorGenero">
<part name="arg0" type="xsd:string"/>
</message>
<message name="obtenerDTListaPorGeneroResponse">
<part name="return" type="tns:listaDTListaRep"/>
</message>
<message name="nombreDeListasPrivadasDeCliente">
<part name="arg0" type="xsd:string"/>
</message>
<message name="nombreDeListasPrivadasDeClienteResponse">
<part name="return" type="tns:listaString"/>
</message>
<message name="findAlbumxNombreDT">
<part name="arg0" type="xsd:string"/>
<part name="arg1" type="xsd:string"/>
</message>
<message name="findAlbumxNombreDTResponse">
<part name="return" type="tns:dtAlbum"/>
</message>
<message name="obtenerDatosDeLista_Por_Defecto">
<part name="arg0" type="xsd:string"/>
</message>
<message name="obtenerDatosDeLista_Por_DefectoResponse">
<part name="return" type="tns:dtListaRep"/>
</message>
<message name="AgregarTema_De_ListaDef_A_Lista">
<part name="arg0" type="xsd:string"/>
<part name="arg1" type="xsd:string"/>
<part name="arg2" type="xsd:string"/>
<part name="arg3" type="xsd:string"/>
</message>
<message name="AgregarTema_De_ListaDef_A_ListaResponse"/>
<message name="obtenerDatosDeLista_Por_Cliente">
<part name="arg0" type="xsd:string"/>
<part name="arg1" type="xsd:string"/>
</message>
<message name="obtenerDatosDeLista_Por_ClienteResponse">
<part name="return" type="tns:dtListaRep"/>
</message>
<message name="obtenerTemasComoBytes">
<part name="arg0" type="tns:listaString"/>
</message>
<message name="obtenerTemasComoBytesResponse">
<part xmlns:ns1="http://jaxb.dev.java.net/array" name="return" type="ns1:base64BinaryArray"/>
</message>
<message name="publicarListaPrivada">
<part name="arg0" type="xsd:string"/>
<part name="arg1" type="xsd:string"/>
</message>
<message name="publicarListaPrivadaResponse"/>
<message name="guardarImagenesEnCarpeta">
<part name="arg0" type="xsd:base64Binary"/>
<part name="arg1" type="xsd:string"/>
</message>
<message name="guardarImagenesEnCarpetaResponse">
<part name="return" type="xsd:string"/>
</message>
<message name="crearUsuario">
<part name="arg0" type="tns:dtUsuario"/>
</message>
<message name="crearUsuarioResponse"/>
<message name="estaSiguiendoUsuario">
<part name="arg0" type="xsd:string"/>
<part name="arg1" type="xsd:string"/>
</message>
<message name="estaSiguiendoUsuarioResponse">
<part name="return" type="xsd:boolean"/>
</message>
<message name="dejarSeguirUsuario">
<part name="arg0" type="xsd:string"/>
<part name="arg1" type="xsd:string"/>
</message>
<message name="dejarSeguirUsuarioResponse"/>
<message name="seguirUsuario">
<part name="arg0" type="xsd:string"/>
<part name="arg1" type="xsd:string"/>
</message>
<message name="seguirUsuarioResponse"/>
<message name="verificarSubscripcion">
<part name="arg0" type="xsd:string"/>
</message>
<message name="verificarSubscripcionResponse">
<part name="return" type="xsd:boolean"/>
</message>
<message name="GeneraRegistro">
<part name="arg0" type="xsd:string"/>
<part name="arg1" type="xsd:string"/>
<part name="arg2" type="xsd:string"/>
<part name="arg3" type="xsd:string"/>
</message>
<message name="GeneraRegistroResponse"/>
<message name="convertToDTIngresoWebList"/>
<message name="convertToDTIngresoWebListResponse">
<part name="return" type="tns:listaDTIngresoWeb"/>
</message>
<message name="AgregaDescargaTema">
<part name="arg0" type="tns:dtTema"/>
</message>
<message name="AgregaDescargaTemaResponse"/>
<message name="AgregaReproduccionTema">
<part name="arg0" type="tns:dtTema"/>
</message>
<message name="AgregaReproduccionTemaResponse"/>
<message name="obtenerListaSugerida"/>
<message name="obtenerListaSugeridaResponse">
<part name="return" type="tns:dtListaRep"/>
</message>
<message name="ObtenerInfoTema">
<part name="arg0" type="xsd:string"/>
<part name="arg1" type="xsd:string"/>
<part name="arg2" type="xsd:string"/>
</message>
<message name="ObtenerInfoTemaResponse">
<part name="return" type="tns:dtInfoTema"/>
</message>
<message name="AgregarTema_De_Album_A_Lista">
<part name="arg0" type="xsd:string"/>
<part name="arg1" type="xsd:string"/>
<part name="arg2" type="xsd:string"/>
<part name="arg3" type="xsd:string"/>
<part name="arg4" type="xsd:string"/>
</message>
<message name="AgregarTema_De_Album_A_ListaResponse"/>
<message name="AgregarTema_De_ListaPart_A_Lista">
<part name="arg0" type="xsd:string"/>
<part name="arg1" type="xsd:string"/>
<part name="arg2" type="xsd:string"/>
<part name="arg3" type="xsd:string"/>
<part name="arg4" type="xsd:string"/>
</message>
<message name="AgregarTema_De_ListaPart_A_ListaResponse"/>
<message name="nicknamesDeTodosLosClientes"/>
<message name="nicknamesDeTodosLosClientesResponse">
<part name="return" type="tns:listaString"/>
</message>
<message name="obtTemasComoBytes">
<part name="arg0" type="tns:listaString"/>
</message>
<message name="obtTemasComoBytesResponse">
<part name="return" type="tns:base64BinaryArray"/>
</message>
<portType name="ControladorSoap">
<operation name="CrearListaRepSugerencia">
<input wsam:Action="http://WebServices/ControladorSoap/CrearListaRepSugerenciaRequest" message="tns:CrearListaRepSugerencia"/>
<output wsam:Action="http://WebServices/ControladorSoap/CrearListaRepSugerenciaResponse" message="tns:CrearListaRepSugerenciaResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://WebServices/ControladorSoap/CrearListaRepSugerencia/Fault/Exception"/>
</operation>
<operation name="login" parameterOrder="usuario password">
<input wsam:Action="http://WebServices/ControladorSoap/loginRequest" message="tns:login"/>
<output wsam:Action="http://WebServices/ControladorSoap/loginResponse" message="tns:loginResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://WebServices/ControladorSoap/login/Fault/Exception"/>
</operation>
<operation name="listarSubdeCliente">
<input wsam:Action="http://WebServices/ControladorSoap/listarSubdeClienteRequest" message="tns:listarSubdeCliente"/>
<output wsam:Action="http://WebServices/ControladorSoap/listarSubdeClienteResponse" message="tns:listarSubdeClienteResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://WebServices/ControladorSoap/listarSubdeCliente/Fault/Exception"/>
</operation>
<operation name="ClienteModificaEstadoSuscripcion" parameterOrder="arg0 arg1">
<input wsam:Action="http://WebServices/ControladorSoap/ClienteModificaEstadoSuscripcionRequest" message="tns:ClienteModificaEstadoSuscripcion"/>
<output wsam:Action="http://WebServices/ControladorSoap/ClienteModificaEstadoSuscripcionResponse" message="tns:ClienteModificaEstadoSuscripcionResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://WebServices/ControladorSoap/ClienteModificaEstadoSuscripcion/Fault/Exception"/>
</operation>
<operation name="GuardarAlbumFavorito" parameterOrder="arg0 arg1 arg2">
<input wsam:Action="http://WebServices/ControladorSoap/GuardarAlbumFavoritoRequest" message="tns:GuardarAlbumFavorito"/>
<output wsam:Action="http://WebServices/ControladorSoap/GuardarAlbumFavoritoResponse" message="tns:GuardarAlbumFavoritoResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://WebServices/ControladorSoap/GuardarAlbumFavorito/Fault/Exception"/>
</operation>
<operation name="ConvierteNick_A_Correo">
<input wsam:Action="http://WebServices/ControladorSoap/ConvierteNick_A_CorreoRequest" message="tns:ConvierteNick_A_Correo"/>
<output wsam:Action="http://WebServices/ControladorSoap/ConvierteNick_A_CorreoResponse" message="tns:ConvierteNick_A_CorreoResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://WebServices/ControladorSoap/ConvierteNick_A_Correo/Fault/Exception"/>
</operation>
<operation name="GuardarListaFavorito" parameterOrder="arg0 arg1 arg2">
<input wsam:Action="http://WebServices/ControladorSoap/GuardarListaFavoritoRequest" message="tns:GuardarListaFavorito"/>
<output wsam:Action="http://WebServices/ControladorSoap/GuardarListaFavoritoResponse" message="tns:GuardarListaFavoritoResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://WebServices/ControladorSoap/GuardarListaFavorito/Fault/Exception"/>
</operation>
<operation name="GuardarLista_Por_Defecto_Favorito" parameterOrder="arg0 arg1">
<input wsam:Action="http://WebServices/ControladorSoap/GuardarLista_Por_Defecto_FavoritoRequest" message="tns:GuardarLista_Por_Defecto_Favorito"/>
<output wsam:Action="http://WebServices/ControladorSoap/GuardarLista_Por_Defecto_FavoritoResponse" message="tns:GuardarLista_Por_Defecto_FavoritoResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://WebServices/ControladorSoap/GuardarLista_Por_Defecto_Favorito/Fault/Exception"/>
</operation>
<operation name="guardarImagenesLista" parameterOrder="arg0 arg1">
<input wsam:Action="http://WebServices/ControladorSoap/guardarImagenesListaRequest" message="tns:guardarImagenesLista"/>
<output wsam:Action="http://WebServices/ControladorSoap/guardarImagenesListaResponse" message="tns:guardarImagenesListaResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://WebServices/ControladorSoap/guardarImagenesLista/Fault/IOException"/>
</operation>
<operation name="CrearListaRepParticular" parameterOrder="arg0 arg1 arg2 arg3">
<input wsam:Action="http://WebServices/ControladorSoap/CrearListaRepParticularRequest" message="tns:CrearListaRepParticular"/>
<output wsam:Action="http://WebServices/ControladorSoap/CrearListaRepParticularResponse" message="tns:CrearListaRepParticularResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://WebServices/ControladorSoap/CrearListaRepParticular/Fault/Exception"/>
</operation>
<operation name="GuardarTemaFavorito" parameterOrder="arg0 arg1 arg2 arg3">
<input wsam:Action="http://WebServices/ControladorSoap/GuardarTemaFavoritoRequest" message="tns:GuardarTemaFavorito"/>
<output wsam:Action="http://WebServices/ControladorSoap/GuardarTemaFavoritoResponse" message="tns:GuardarTemaFavoritoResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://WebServices/ControladorSoap/GuardarTemaFavorito/Fault/Exception"/>
</operation>
<operation name="guardarImagenesAlbum" parameterOrder="arg0 arg1 arg2">
<input wsam:Action="http://WebServices/ControladorSoap/guardarImagenesAlbumRequest" message="tns:guardarImagenesAlbum"/>
<output wsam:Action="http://WebServices/ControladorSoap/guardarImagenesAlbumResponse" message="tns:guardarImagenesAlbumResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://WebServices/ControladorSoap/guardarImagenesAlbum/Fault/IOException"/>
</operation>
<operation name="guardarTemaEnCarpeta" parameterOrder="arg0 arg1">
<input wsam:Action="http://WebServices/ControladorSoap/guardarTemaEnCarpetaRequest" message="tns:guardarTemaEnCarpeta"/>
<output wsam:Action="http://WebServices/ControladorSoap/guardarTemaEnCarpetaResponse" message="tns:guardarTemaEnCarpetaResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://WebServices/ControladorSoap/guardarTemaEnCarpeta/Fault/IOException"/>
</operation>
<operation name="CrearAlbum" parameterOrder="arg0 arg1 arg2">
<input wsam:Action="http://WebServices/ControladorSoap/CrearAlbumRequest" message="tns:CrearAlbum"/>
<output wsam:Action="http://WebServices/ControladorSoap/CrearAlbumResponse" message="tns:CrearAlbumResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://WebServices/ControladorSoap/CrearAlbum/Fault/Exception"/>
</operation>
<operation name="nicknamesDeTodosLosArtistas">
<input wsam:Action="http://WebServices/ControladorSoap/nicknamesDeTodosLosArtistasRequest" message="tns:nicknamesDeTodosLosArtistas"/>
<output wsam:Action="http://WebServices/ControladorSoap/nicknamesDeTodosLosArtistasResponse" message="tns:nicknamesDeTodosLosArtistasResponse"/>
</operation>
<operation name="listaClientesDT">
<input wsam:Action="http://WebServices/ControladorSoap/listaClientesDTRequest" message="tns:listaClientesDT"/>
<output wsam:Action="http://WebServices/ControladorSoap/listaClientesDTResponse" message="tns:listaClientesDTResponse"/>
</operation>
<operation name="crearSubscripcion" parameterOrder="arg0 arg1">
<input wsam:Action="http://WebServices/ControladorSoap/crearSubscripcionRequest" message="tns:crearSubscripcion"/>
<output wsam:Action="http://WebServices/ControladorSoap/crearSubscripcionResponse" message="tns:crearSubscripcionResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://WebServices/ControladorSoap/crearSubscripcion/Fault/Exception"/>
</operation>
<operation name="existeMail">
<input wsam:Action="http://WebServices/ControladorSoap/existeMailRequest" message="tns:existeMail"/>
<output wsam:Action="http://WebServices/ControladorSoap/existeMailResponse" message="tns:existeMailResponse"/>
</operation>
<operation name="existeNickname">
<input wsam:Action="http://WebServices/ControladorSoap/existeNicknameRequest" message="tns:existeNickname"/>
<output wsam:Action="http://WebServices/ControladorSoap/existeNicknameResponse" message="tns:existeNicknameResponse"/>
</operation>
<operation name="obtenerImagenComoBytes">
<input wsam:Action="http://WebServices/ControladorSoap/obtenerImagenComoBytesRequest" message="tns:obtenerImagenComoBytes"/>
<output wsam:Action="http://WebServices/ControladorSoap/obtenerImagenComoBytesResponse" message="tns:obtenerImagenComoBytesResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://WebServices/ControladorSoap/obtenerImagenComoBytes/Fault/IOException"/>
</operation>
<operation name="obtenerTemaComoBytes">
<input wsam:Action="http://WebServices/ControladorSoap/obtenerTemaComoBytesRequest" message="tns:obtenerTemaComoBytes"/>
<output wsam:Action="http://WebServices/ControladorSoap/obtenerTemaComoBytesResponse" message="tns:obtenerTemaComoBytesResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://WebServices/ControladorSoap/obtenerTemaComoBytes/Fault/IOException"/>
</operation>
<operation name="findDTAlbumTodos">
<input wsam:Action="http://WebServices/ControladorSoap/findDTAlbumTodosRequest" message="tns:findDTAlbumTodos"/>
<output wsam:Action="http://WebServices/ControladorSoap/findDTAlbumTodosResponse" message="tns:findDTAlbumTodosResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://WebServices/ControladorSoap/findDTAlbumTodos/Fault/Exception"/>
</operation>
<operation name="findAlbumesPorArtista">
<input wsam:Action="http://WebServices/ControladorSoap/findAlbumesPorArtistaRequest" message="tns:findAlbumesPorArtista"/>
<output wsam:Action="http://WebServices/ControladorSoap/findAlbumesPorArtistaResponse" message="tns:findAlbumesPorArtistaResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://WebServices/ControladorSoap/findAlbumesPorArtista/Fault/Exception"/>
</operation>
<operation name="findDTAlbum">
<input wsam:Action="http://WebServices/ControladorSoap/findDTAlbumRequest" message="tns:findDTAlbum"/>
<output wsam:Action="http://WebServices/ControladorSoap/findDTAlbumResponse" message="tns:findDTAlbumResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://WebServices/ControladorSoap/findDTAlbum/Fault/Exception"/>
</operation>
<operation name="Buscador" parameterOrder="arg0 arg1">
<input wsam:Action="http://WebServices/ControladorSoap/BuscadorRequest" message="tns:Buscador"/>
<output wsam:Action="http://WebServices/ControladorSoap/BuscadorResponse" message="tns:BuscadorResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://WebServices/ControladorSoap/Buscador/Fault/Exception"/>
</operation>
<operation name="nicksClientes">
<input wsam:Action="http://WebServices/ControladorSoap/nicksClientesRequest" message="tns:nicksClientes"/>
<output wsam:Action="http://WebServices/ControladorSoap/nicksClientesResponse" message="tns:nicksClientesResponse"/>
</operation>
<operation name="obtenerDTListaPorClientepublica">
<input wsam:Action="http://WebServices/ControladorSoap/obtenerDTListaPorClientepublicaRequest" message="tns:obtenerDTListaPorClientepublica"/>
<output wsam:Action="http://WebServices/ControladorSoap/obtenerDTListaPorClientepublicaResponse" message="tns:obtenerDTListaPorClientepublicaResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://WebServices/ControladorSoap/obtenerDTListaPorClientepublica/Fault/Exception"/>
</operation>
<operation name="encontrarClientePorNickname">
<input wsam:Action="http://WebServices/ControladorSoap/encontrarClientePorNicknameRequest" message="tns:encontrarClientePorNickname"/>
<output wsam:Action="http://WebServices/ControladorSoap/encontrarClientePorNicknameResponse" message="tns:encontrarClientePorNicknameResponse"/>
</operation>
<operation name="encontrarDTArtistaPorNickname">
<input wsam:Action="http://WebServices/ControladorSoap/encontrarDTArtistaPorNicknameRequest" message="tns:encontrarDTArtistaPorNickname"/>
<output wsam:Action="http://WebServices/ControladorSoap/encontrarDTArtistaPorNicknameResponse" message="tns:encontrarDTArtistaPorNicknameResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://WebServices/ControladorSoap/encontrarDTArtistaPorNickname/Fault/Exception"/>
</operation>
<operation name="nicksClientesSiguenArtista">
<input wsam:Action="http://WebServices/ControladorSoap/nicksClientesSiguenArtistaRequest" message="tns:nicksClientesSiguenArtista"/>
<output wsam:Action="http://WebServices/ControladorSoap/nicksClientesSiguenArtistaResponse" message="tns:nicksClientesSiguenArtistaResponse"/>
</operation>
<operation name="listaAlbumesArtistaNick">
<input wsam:Action="http://WebServices/ControladorSoap/listaAlbumesArtistaNickRequest" message="tns:listaAlbumesArtistaNick"/>
<output wsam:Action="http://WebServices/ControladorSoap/listaAlbumesArtistaNickResponse" message="tns:listaAlbumesArtistaNickResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://WebServices/ControladorSoap/listaAlbumesArtistaNick/Fault/Exception"/>
</operation>
<operation name="seguidoresDelCliente">
<input wsam:Action="http://WebServices/ControladorSoap/seguidoresDelClienteRequest" message="tns:seguidoresDelCliente"/>
<output wsam:Action="http://WebServices/ControladorSoap/seguidoresDelClienteResponse" message="tns:seguidoresDelClienteResponse"/>
</operation>
<operation name="clientesSeguidosDelCliente">
<input wsam:Action="http://WebServices/ControladorSoap/clientesSeguidosDelClienteRequest" message="tns:clientesSeguidosDelCliente"/>
<output wsam:Action="http://WebServices/ControladorSoap/clientesSeguidosDelClienteResponse" message="tns:clientesSeguidosDelClienteResponse"/>
</operation>
<operation name="artistasSeguidosDelCliente">
<input wsam:Action="http://WebServices/ControladorSoap/artistasSeguidosDelClienteRequest" message="tns:artistasSeguidosDelCliente"/>
<output wsam:Action="http://WebServices/ControladorSoap/artistasSeguidosDelClienteResponse" message="tns:artistasSeguidosDelClienteResponse"/>
</operation>
<operation name="nombresListaRepDeCliente">
<input wsam:Action="http://WebServices/ControladorSoap/nombresListaRepDeClienteRequest" message="tns:nombresListaRepDeCliente"/>
<output wsam:Action="http://WebServices/ControladorSoap/nombresListaRepDeClienteResponse" message="tns:nombresListaRepDeClienteResponse"/>
</operation>
<operation name="listaFavoritosDeCliente">
<input wsam:Action="http://WebServices/ControladorSoap/listaFavoritosDeClienteRequest" message="tns:listaFavoritosDeCliente"/>
<output wsam:Action="http://WebServices/ControladorSoap/listaFavoritosDeClienteResponse" message="tns:listaFavoritosDeClienteResponse"/>
</operation>
<operation name="listasPublicasDeCliente">
<input wsam:Action="http://WebServices/ControladorSoap/listasPublicasDeClienteRequest" message="tns:listasPublicasDeCliente"/>
<output wsam:Action="http://WebServices/ControladorSoap/listasPublicasDeClienteResponse" message="tns:listasPublicasDeClienteResponse"/>
</operation>
<operation name="nombreAlbumyNombreArtistaFavoritosCliente">
<input wsam:Action="http://WebServices/ControladorSoap/nombreAlbumyNombreArtistaFavoritosClienteRequest" message="tns:nombreAlbumyNombreArtistaFavoritosCliente"/>
<output wsam:Action="http://WebServices/ControladorSoap/nombreAlbumyNombreArtistaFavoritosClienteResponse" message="tns:nombreAlbumyNombreArtistaFavoritosClienteResponse"/>
</operation>
<operation name="MostrarNombreGeneros">
<input wsam:Action="http://WebServices/ControladorSoap/MostrarNombreGenerosRequest" message="tns:MostrarNombreGeneros"/>
<output wsam:Action="http://WebServices/ControladorSoap/MostrarNombreGenerosResponse" message="tns:MostrarNombreGenerosResponse"/>
</operation>
<operation name="ListasParticulares">
<input wsam:Action="http://WebServices/ControladorSoap/ListasParticularesRequest" message="tns:ListasParticulares"/>
<output wsam:Action="http://WebServices/ControladorSoap/ListasParticularesResponse" message="tns:ListasParticularesResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://WebServices/ControladorSoap/ListasParticulares/Fault/Exception"/>
</operation>
<operation name="ListasPorDefecto">
<input wsam:Action="http://WebServices/ControladorSoap/ListasPorDefectoRequest" message="tns:ListasPorDefecto"/>
<output wsam:Action="http://WebServices/ControladorSoap/ListasPorDefectoResponse" message="tns:ListasPorDefectoResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://WebServices/ControladorSoap/ListasPorDefecto/Fault/Exception"/>
</operation>
<operation name="obtenerDTListaPorCliente">
<input wsam:Action="http://WebServices/ControladorSoap/obtenerDTListaPorClienteRequest" message="tns:obtenerDTListaPorCliente"/>
<output wsam:Action="http://WebServices/ControladorSoap/obtenerDTListaPorClienteResponse" message="tns:obtenerDTListaPorClienteResponse"/>
</operation>
<operation name="obtenerDTListaPorGenero">
<input wsam:Action="http://WebServices/ControladorSoap/obtenerDTListaPorGeneroRequest" message="tns:obtenerDTListaPorGenero"/>
<output wsam:Action="http://WebServices/ControladorSoap/obtenerDTListaPorGeneroResponse" message="tns:obtenerDTListaPorGeneroResponse"/>
</operation>
<operation name="nombreDeListasPrivadasDeCliente">
<input wsam:Action="http://WebServices/ControladorSoap/nombreDeListasPrivadasDeClienteRequest" message="tns:nombreDeListasPrivadasDeCliente"/>
<output wsam:Action="http://WebServices/ControladorSoap/nombreDeListasPrivadasDeClienteResponse" message="tns:nombreDeListasPrivadasDeClienteResponse"/>
</operation>
<operation name="findAlbumxNombreDT" parameterOrder="arg0 arg1">
<input wsam:Action="http://WebServices/ControladorSoap/findAlbumxNombreDTRequest" message="tns:findAlbumxNombreDT"/>
<output wsam:Action="http://WebServices/ControladorSoap/findAlbumxNombreDTResponse" message="tns:findAlbumxNombreDTResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://WebServices/ControladorSoap/findAlbumxNombreDT/Fault/Exception"/>
</operation>
<operation name="obtenerDatosDeLista_Por_Defecto">
<input wsam:Action="http://WebServices/ControladorSoap/obtenerDatosDeLista_Por_DefectoRequest" message="tns:obtenerDatosDeLista_Por_Defecto"/>
<output wsam:Action="http://WebServices/ControladorSoap/obtenerDatosDeLista_Por_DefectoResponse" message="tns:obtenerDatosDeLista_Por_DefectoResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://WebServices/ControladorSoap/obtenerDatosDeLista_Por_Defecto/Fault/Exception"/>
</operation>
<operation name="AgregarTema_De_ListaDef_A_Lista" parameterOrder="arg0 arg1 arg2 arg3">
<input wsam:Action="http://WebServices/ControladorSoap/AgregarTema_De_ListaDef_A_ListaRequest" message="tns:AgregarTema_De_ListaDef_A_Lista"/>
<output wsam:Action="http://WebServices/ControladorSoap/AgregarTema_De_ListaDef_A_ListaResponse" message="tns:AgregarTema_De_ListaDef_A_ListaResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://WebServices/ControladorSoap/AgregarTema_De_ListaDef_A_Lista/Fault/Exception"/>
</operation>
<operation name="obtenerDatosDeLista_Por_Cliente" parameterOrder="arg0 arg1">
<input wsam:Action="http://WebServices/ControladorSoap/obtenerDatosDeLista_Por_ClienteRequest" message="tns:obtenerDatosDeLista_Por_Cliente"/>
<output wsam:Action="http://WebServices/ControladorSoap/obtenerDatosDeLista_Por_ClienteResponse" message="tns:obtenerDatosDeLista_Por_ClienteResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://WebServices/ControladorSoap/obtenerDatosDeLista_Por_Cliente/Fault/Exception"/>
</operation>
<operation name="obtenerTemasComoBytes">
<input wsam:Action="http://WebServices/ControladorSoap/obtenerTemasComoBytesRequest" message="tns:obtenerTemasComoBytes"/>
<output wsam:Action="http://WebServices/ControladorSoap/obtenerTemasComoBytesResponse" message="tns:obtenerTemasComoBytesResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://WebServices/ControladorSoap/obtenerTemasComoBytes/Fault/IOException"/>
</operation>
<operation name="publicarListaPrivada" parameterOrder="arg0 arg1">
<input wsam:Action="http://WebServices/ControladorSoap/publicarListaPrivadaRequest" message="tns:publicarListaPrivada"/>
<output wsam:Action="http://WebServices/ControladorSoap/publicarListaPrivadaResponse" message="tns:publicarListaPrivadaResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://WebServices/ControladorSoap/publicarListaPrivada/Fault/Exception"/>
</operation>
<operation name="guardarImagenesEnCarpeta" parameterOrder="arg0 arg1">
<input wsam:Action="http://WebServices/ControladorSoap/guardarImagenesEnCarpetaRequest" message="tns:guardarImagenesEnCarpeta"/>
<output wsam:Action="http://WebServices/ControladorSoap/guardarImagenesEnCarpetaResponse" message="tns:guardarImagenesEnCarpetaResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://WebServices/ControladorSoap/guardarImagenesEnCarpeta/Fault/IOException"/>
</operation>
<operation name="crearUsuario">
<input wsam:Action="http://WebServices/ControladorSoap/crearUsuarioRequest" message="tns:crearUsuario"/>
<output wsam:Action="http://WebServices/ControladorSoap/crearUsuarioResponse" message="tns:crearUsuarioResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://WebServices/ControladorSoap/crearUsuario/Fault/Exception"/>
</operation>
<operation name="estaSiguiendoUsuario" parameterOrder="arg0 arg1">
<input wsam:Action="http://WebServices/ControladorSoap/estaSiguiendoUsuarioRequest" message="tns:estaSiguiendoUsuario"/>
<output wsam:Action="http://WebServices/ControladorSoap/estaSiguiendoUsuarioResponse" message="tns:estaSiguiendoUsuarioResponse"/>
</operation>
<operation name="dejarSeguirUsuario" parameterOrder="arg0 arg1">
<input wsam:Action="http://WebServices/ControladorSoap/dejarSeguirUsuarioRequest" message="tns:dejarSeguirUsuario"/>
<output wsam:Action="http://WebServices/ControladorSoap/dejarSeguirUsuarioResponse" message="tns:dejarSeguirUsuarioResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://WebServices/ControladorSoap/dejarSeguirUsuario/Fault/Exception"/>
</operation>
<operation name="seguirUsuario" parameterOrder="arg0 arg1">
<input wsam:Action="http://WebServices/ControladorSoap/seguirUsuarioRequest" message="tns:seguirUsuario"/>
<output wsam:Action="http://WebServices/ControladorSoap/seguirUsuarioResponse" message="tns:seguirUsuarioResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://WebServices/ControladorSoap/seguirUsuario/Fault/Exception"/>
</operation>
<operation name="verificarSubscripcion">
<input wsam:Action="http://WebServices/ControladorSoap/verificarSubscripcionRequest" message="tns:verificarSubscripcion"/>
<output wsam:Action="http://WebServices/ControladorSoap/verificarSubscripcionResponse" message="tns:verificarSubscripcionResponse"/>
</operation>
<operation name="GeneraRegistro" parameterOrder="arg0 arg1 arg2 arg3">
<input wsam:Action="http://WebServices/ControladorSoap/GeneraRegistroRequest" message="tns:GeneraRegistro"/>
<output wsam:Action="http://WebServices/ControladorSoap/GeneraRegistroResponse" message="tns:GeneraRegistroResponse"/>
</operation>
<operation name="convertToDTIngresoWebList">
<input wsam:Action="http://WebServices/ControladorSoap/convertToDTIngresoWebListRequest" message="tns:convertToDTIngresoWebList"/>
<output wsam:Action="http://WebServices/ControladorSoap/convertToDTIngresoWebListResponse" message="tns:convertToDTIngresoWebListResponse"/>
</operation>
<operation name="AgregaDescargaTema">
<input wsam:Action="http://WebServices/ControladorSoap/AgregaDescargaTemaRequest" message="tns:AgregaDescargaTema"/>
<output wsam:Action="http://WebServices/ControladorSoap/AgregaDescargaTemaResponse" message="tns:AgregaDescargaTemaResponse"/>
</operation>
<operation name="AgregaReproduccionTema">
<input wsam:Action="http://WebServices/ControladorSoap/AgregaReproduccionTemaRequest" message="tns:AgregaReproduccionTema"/>
<output wsam:Action="http://WebServices/ControladorSoap/AgregaReproduccionTemaResponse" message="tns:AgregaReproduccionTemaResponse"/>
</operation>
<operation name="obtenerListaSugerida">
<input wsam:Action="http://WebServices/ControladorSoap/obtenerListaSugeridaRequest" message="tns:obtenerListaSugerida"/>
<output wsam:Action="http://WebServices/ControladorSoap/obtenerListaSugeridaResponse" message="tns:obtenerListaSugeridaResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://WebServices/ControladorSoap/obtenerListaSugerida/Fault/Exception"/>
</operation>
<operation name="ObtenerInfoTema" parameterOrder="arg0 arg1 arg2">
<input wsam:Action="http://WebServices/ControladorSoap/ObtenerInfoTemaRequest" message="tns:ObtenerInfoTema"/>
<output wsam:Action="http://WebServices/ControladorSoap/ObtenerInfoTemaResponse" message="tns:ObtenerInfoTemaResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://WebServices/ControladorSoap/ObtenerInfoTema/Fault/Exception"/>
</operation>
<operation name="AgregarTema_De_Album_A_Lista" parameterOrder="arg0 arg1 arg2 arg3 arg4">
<input wsam:Action="http://WebServices/ControladorSoap/AgregarTema_De_Album_A_ListaRequest" message="tns:AgregarTema_De_Album_A_Lista"/>
<output wsam:Action="http://WebServices/ControladorSoap/AgregarTema_De_Album_A_ListaResponse" message="tns:AgregarTema_De_Album_A_ListaResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://WebServices/ControladorSoap/AgregarTema_De_Album_A_Lista/Fault/Exception"/>
</operation>
<operation name="AgregarTema_De_ListaPart_A_Lista" parameterOrder="arg0 arg1 arg2 arg3 arg4">
<input wsam:Action="http://WebServices/ControladorSoap/AgregarTema_De_ListaPart_A_ListaRequest" message="tns:AgregarTema_De_ListaPart_A_Lista"/>
<output wsam:Action="http://WebServices/ControladorSoap/AgregarTema_De_ListaPart_A_ListaResponse" message="tns:AgregarTema_De_ListaPart_A_ListaResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://WebServices/ControladorSoap/AgregarTema_De_ListaPart_A_Lista/Fault/Exception"/>
</operation>
<operation name="nicknamesDeTodosLosClientes">
<input wsam:Action="http://WebServices/ControladorSoap/nicknamesDeTodosLosClientesRequest" message="tns:nicknamesDeTodosLosClientes"/>
<output wsam:Action="http://WebServices/ControladorSoap/nicknamesDeTodosLosClientesResponse" message="tns:nicknamesDeTodosLosClientesResponse"/>
</operation>
<operation name="obtTemasComoBytes">
<input wsam:Action="http://WebServices/ControladorSoap/obtTemasComoBytesRequest" message="tns:obtTemasComoBytes"/>
<output wsam:Action="http://WebServices/ControladorSoap/obtTemasComoBytesResponse" message="tns:obtTemasComoBytesResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://WebServices/ControladorSoap/obtTemasComoBytes/Fault/IOException"/>
</operation>
</portType>
<binding name="ControladorSoapPortBinding" type="tns:ControladorSoap">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
<operation name="CrearListaRepSugerencia">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://WebServices/"/>
</input>
<output>
<soap:body use="literal" namespace="http://WebServices/"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://WebServices/"/>
</input>
<output>
<soap:body use="literal" namespace="http://WebServices/"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="listarSubdeCliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://WebServices/"/>
</input>
<output>
<soap:body use="literal" namespace="http://WebServices/"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="ClienteModificaEstadoSuscripcion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://WebServices/"/>
</input>
<output>
<soap:body use="literal" namespace="http://WebServices/"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="GuardarAlbumFavorito">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://WebServices/"/>
</input>
<output>
<soap:body use="literal" namespace="http://WebServices/"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="ConvierteNick_A_Correo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://WebServices/"/>
</input>
<output>
<soap:body use="literal" namespace="http://WebServices/"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="GuardarListaFavorito">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://WebServices/"/>
</input>
<output>
<soap:body use="literal" namespace="http://WebServices/"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="GuardarLista_Por_Defecto_Favorito">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://WebServices/"/>
</input>
<output>
<soap:body use="literal" namespace="http://WebServices/"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="guardarImagenesLista">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://WebServices/"/>
</input>
<output>
<soap:body use="literal" namespace="http://WebServices/"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
</operation>
<operation name="CrearListaRepParticular">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://WebServices/"/>
</input>
<output>
<soap:body use="literal" namespace="http://WebServices/"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="GuardarTemaFavorito">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://WebServices/"/>
</input>
<output>
<soap:body use="literal" namespace="http://WebServices/"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="guardarImagenesAlbum">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://WebServices/"/>
</input>
<output>
<soap:body use="literal" namespace="http://WebServices/"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
</operation>
<operation name="guardarTemaEnCarpeta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://WebServices/"/>
</input>
<output>
<soap:body use="literal" namespace="http://WebServices/"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
</operation>
<operation name="CrearAlbum">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://WebServices/"/>
</input>
<output>
<soap:body use="literal" namespace="http://WebServices/"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="nicknamesDeTodosLosArtistas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://WebServices/"/>
</input>
<output>
<soap:body use="literal" namespace="http://WebServices/"/>
</output>
</operation>
<operation name="listaClientesDT">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://WebServices/"/>
</input>
<output>
<soap:body use="literal" namespace="http://WebServices/"/>
</output>
</operation>
<operation name="crearSubscripcion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://WebServices/"/>
</input>
<output>
<soap:body use="literal" namespace="http://WebServices/"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="existeMail">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://WebServices/"/>
</input>
<output>
<soap:body use="literal" namespace="http://WebServices/"/>
</output>
</operation>
<operation name="existeNickname">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://WebServices/"/>
</input>
<output>
<soap:body use="literal" namespace="http://WebServices/"/>
</output>
</operation>
<operation name="obtenerImagenComoBytes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://WebServices/"/>
</input>
<output>
<soap:body use="literal" namespace="http://WebServices/"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
</operation>
<operation name="obtenerTemaComoBytes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://WebServices/"/>
</input>
<output>
<soap:body use="literal" namespace="http://WebServices/"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
</operation>
<operation name="findDTAlbumTodos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://WebServices/"/>
</input>
<output>
<soap:body use="literal" namespace="http://WebServices/"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="findAlbumesPorArtista">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://WebServices/"/>
</input>
<output>
<soap:body use="literal" namespace="http://WebServices/"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="findDTAlbum">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://WebServices/"/>
</input>
<output>
<soap:body use="literal" namespace="http://WebServices/"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="Buscador">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://WebServices/"/>
</input>
<output>
<soap:body use="literal" namespace="http://WebServices/"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="nicksClientes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://WebServices/"/>
</input>
<output>
<soap:body use="literal" namespace="http://WebServices/"/>
</output>
</operation>
<operation name="obtenerDTListaPorClientepublica">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://WebServices/"/>
</input>
<output>
<soap:body use="literal" namespace="http://WebServices/"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="encontrarClientePorNickname">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://WebServices/"/>
</input>
<output>
<soap:body use="literal" namespace="http://WebServices/"/>
</output>
</operation>
<operation name="encontrarDTArtistaPorNickname">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://WebServices/"/>
</input>
<output>
<soap:body use="literal" namespace="http://WebServices/"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="nicksClientesSiguenArtista">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://WebServices/"/>
</input>
<output>
<soap:body use="literal" namespace="http://WebServices/"/>
</output>
</operation>
<operation name="listaAlbumesArtistaNick">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://WebServices/"/>
</input>
<output>
<soap:body use="literal" namespace="http://WebServices/"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="seguidoresDelCliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://WebServices/"/>
</input>
<output>
<soap:body use="literal" namespace="http://WebServices/"/>
</output>
</operation>
<operation name="clientesSeguidosDelCliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://WebServices/"/>
</input>
<output>
<soap:body use="literal" namespace="http://WebServices/"/>
</output>
</operation>
<operation name="artistasSeguidosDelCliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://WebServices/"/>
</input>
<output>
<soap:body use="literal" namespace="http://WebServices/"/>
</output>
</operation>
<operation name="nombresListaRepDeCliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://WebServices/"/>
</input>
<output>
<soap:body use="literal" namespace="http://WebServices/"/>
</output>
</operation>
<operation name="listaFavoritosDeCliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://WebServices/"/>
</input>
<output>
<soap:body use="literal" namespace="http://WebServices/"/>
</output>
</operation>
<operation name="listasPublicasDeCliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://WebServices/"/>
</input>
<output>
<soap:body use="literal" namespace="http://WebServices/"/>
</output>
</operation>
<operation name="nombreAlbumyNombreArtistaFavoritosCliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://WebServices/"/>
</input>
<output>
<soap:body use="literal" namespace="http://WebServices/"/>
</output>
</operation>
<operation name="MostrarNombreGeneros">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://WebServices/"/>
</input>
<output>
<soap:body use="literal" namespace="http://WebServices/"/>
</output>
</operation>
<operation name="ListasParticulares">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://WebServices/"/>
</input>
<output>
<soap:body use="literal" namespace="http://WebServices/"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="ListasPorDefecto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://WebServices/"/>
</input>
<output>
<soap:body use="literal" namespace="http://WebServices/"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="obtenerDTListaPorCliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://WebServices/"/>
</input>
<output>
<soap:body use="literal" namespace="http://WebServices/"/>
</output>
</operation>
<operation name="obtenerDTListaPorGenero">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://WebServices/"/>
</input>
<output>
<soap:body use="literal" namespace="http://WebServices/"/>
</output>
</operation>
<operation name="nombreDeListasPrivadasDeCliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://WebServices/"/>
</input>
<output>
<soap:body use="literal" namespace="http://WebServices/"/>
</output>
</operation>
<operation name="findAlbumxNombreDT">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://WebServices/"/>
</input>
<output>
<soap:body use="literal" namespace="http://WebServices/"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="obtenerDatosDeLista_Por_Defecto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://WebServices/"/>
</input>
<output>
<soap:body use="literal" namespace="http://WebServices/"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="AgregarTema_De_ListaDef_A_Lista">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://WebServices/"/>
</input>
<output>
<soap:body use="literal" namespace="http://WebServices/"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="obtenerDatosDeLista_Por_Cliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://WebServices/"/>
</input>
<output>
<soap:body use="literal" namespace="http://WebServices/"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="obtenerTemasComoBytes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://WebServices/"/>
</input>
<output>
<soap:body use="literal" namespace="http://WebServices/"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
</operation>
<operation name="publicarListaPrivada">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://WebServices/"/>
</input>
<output>
<soap:body use="literal" namespace="http://WebServices/"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="guardarImagenesEnCarpeta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://WebServices/"/>
</input>
<output>
<soap:body use="literal" namespace="http://WebServices/"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
</operation>
<operation name="crearUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://WebServices/"/>
</input>
<output>
<soap:body use="literal" namespace="http://WebServices/"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="estaSiguiendoUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://WebServices/"/>
</input>
<output>
<soap:body use="literal" namespace="http://WebServices/"/>
</output>
</operation>
<operation name="dejarSeguirUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://WebServices/"/>
</input>
<output>
<soap:body use="literal" namespace="http://WebServices/"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="seguirUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://WebServices/"/>
</input>
<output>
<soap:body use="literal" namespace="http://WebServices/"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="verificarSubscripcion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://WebServices/"/>
</input>
<output>
<soap:body use="literal" namespace="http://WebServices/"/>
</output>
</operation>
<operation name="GeneraRegistro">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://WebServices/"/>
</input>
<output>
<soap:body use="literal" namespace="http://WebServices/"/>
</output>
</operation>
<operation name="convertToDTIngresoWebList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://WebServices/"/>
</input>
<output>
<soap:body use="literal" namespace="http://WebServices/"/>
</output>
</operation>
<operation name="AgregaDescargaTema">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://WebServices/"/>
</input>
<output>
<soap:body use="literal" namespace="http://WebServices/"/>
</output>
</operation>
<operation name="AgregaReproduccionTema">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://WebServices/"/>
</input>
<output>
<soap:body use="literal" namespace="http://WebServices/"/>
</output>
</operation>
<operation name="obtenerListaSugerida">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://WebServices/"/>
</input>
<output>
<soap:body use="literal" namespace="http://WebServices/"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="ObtenerInfoTema">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://WebServices/"/>
</input>
<output>
<soap:body use="literal" namespace="http://WebServices/"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="AgregarTema_De_Album_A_Lista">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://WebServices/"/>
</input>
<output>
<soap:body use="literal" namespace="http://WebServices/"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="AgregarTema_De_ListaPart_A_Lista">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://WebServices/"/>
</input>
<output>
<soap:body use="literal" namespace="http://WebServices/"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="nicknamesDeTodosLosClientes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://WebServices/"/>
</input>
<output>
<soap:body use="literal" namespace="http://WebServices/"/>
</output>
</operation>
<operation name="obtTemasComoBytes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://WebServices/"/>
</input>
<output>
<soap:body use="literal" namespace="http://WebServices/"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
</operation>
</binding>
<service name="ControladorSoapService">
<port name="ControladorSoapPort" binding="tns:ControladorSoapPortBinding">
<soap:address location="http://192.168.1.24:5000/ControladorSoap"/>
</port>
</service>
</definitions>